<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Plannings !</title>
  <link rel="stylesheet" href="http://planning.vltn.fr/Tips.css">
  <link rel="stylesheet" href="http://planning.vltn.fr/Layout.css">
  <link rel="stylesheet" href="http://planning.vltn.fr/Design.css">
  <link rel="stylesheet" href="http://planning.vltn.fr/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="http://planning.vltn.fr/Tips.Class.js"></script>
  <script src="http://planning.vltn.fr/Design.Class.js"></script>
  <script src="http://planning.vltn.fr/Moment.Class.js"></script>

  <script src="http://planning.vltn.fr/Design.mod.ng.js"></script>
  <script src="http://planning.vltn.fr/Application.mod.ng.js"></script>
  <script src="http://planning.vltn.fr/Moment.mod.ng.js"></script>
  
  <script src="http://planning.vltn.fr/setlayout.dir.ng.js"></script>
  <script src="http://planning.vltn.fr/columns.dir.ng.js"></script>

  <script src="./datas.js"></script>
  <script src="http://planning.vltn.fr/classes.js"></script>
  <script src="http://planning.vltn.fr/script.js"></script>
</head>
<body>
  <div ng-app="Planning" h="window" w="window">
    <columns h="full" w="full" ng-controller="WeekController">
      <column h="full" w="300">
        Show courses for... <br />
          <select ng-model="receiver" ng-options="receiver.name for receiver in receivers"></select>
      </column>
      <column h="full" w="window-300">
        <columns h="full" w="full">
          <column ng-repeat="day in days" w="{{1/days.length}}" h="full" ng-controller="DayController"  lbord="intense" tbord="intense">
            <div ng-repeat="slot in dayslots" ng-controller="SlotController" ng-style="getStyle()" halign="center" bbord="intense">
              {{slot.getStartTime()|getTimeFromTodayMinutes}} > {{slot.getEndTime()|getTimeFromTodayMinutes}}<br />
              <div ng-if="slot.isBlank()">-</div>
              <div ng-if="!slot.isBlank()">{{slot.course.promotion.name}} - {{slot.course.teacher.name}} - {{slot.course.room.name}}</div>
            </div>
          </column>
        </columns>
      </column>
    </columns>
  </div>
</body>
</html>
